/*Create the first news article*/
html {
	max-width: 1000px;
	margin: 0 auto;
	background: #C0C0C0;
}
body{
	background: #D3D3D3;
}
.header{
	text-align: center;
	font-style:Verdana; 
	font-size: 20px;
	color:white;
	background: blue;
	border-radius: 10px;
    border: 1px solid #000000;
    margin: 5px;
}
#main{
	font-style:Helvetica;
	font-size: 30px; 
}
.footer{
	font-style:sans-serif;
	font-size: 25px;
	background: orange;
	border-radius: 10px;
}
/*Rotate*/
.photo-container {
	cursor: pointer;
	height: 250px;
/*Ubah perspektif dengan perspective*/
	perspective: 600; 
	position: relative;
	width: 250px;
}
.photo {
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
	width: 100%;
}
.photo:hover { 
/*Putar dengan rotate & Ubah skala bentuk dengan scale*/
	transform: rotateY(180deg) scale(1.25);
}
.photo .side {
	backface-visibility: hidden;
	border-radius: 6px;
	height: 100%;
	position: absolute;
	overflow: hidden;
	width: 100%;
}
.photo .back {
	background: #eaeaed;
	color: #0087cc;
	line-height: 250px;
	text-align: center;
  	transform: rotateY(180deg) scale(1.0);
}
.spin {
	width:30px; 
	height:30px;
	align-content: center;
	cursor: pointer;
	transform-style: preserve-3d;
	animation: spin 5s linear infinite;
}
.spin:hover {
/*skew & translate*/
	transform: skew(10deg, 30deg) translateX(30px) scale(1.75) infinite; 
}
/*keyframe*/
@keyframes spin { 
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
.middle{
	text-align: center;
	color: #8B008B;
}
.form{
	background-color: #FF8C00;
	font-family: arial;
	font-size: 25px;
}
fieldset input[type="text"]:hover{
	border: 5px solid blue;
}
label{
	font-size: 25px;
	font-weight: bold;
}
input[type="text"]{
	width:100%;
	border: 2px solid red;
	font-size: 25px;
	border-radius: 10px;
}
.plabel{
	font-weight: bold;
	text-decoration: underline;
}
select {
	border: 2px solid red;
	font-size: 25px;
	border-radius: 10px;
}
select:hover{
	border: 5px solid blue;
}
button{
	font-size: 25px;
	font-weight: bold;
	margin: 10px auto;
}
.kolom1{
	columns: 100px 2;
	margin: auto 5px auto 3px;
}
.kolom2{
	columns: 100px 3;
	margin: auto 5px auto 3px;
}
.gap{
	column-gap: 50px;

}
.line{
	column-rule: 5px solid #000000;

}
h2, 
h4,
h5{
	margin:0 auto;
}
h6{
	text-align: center;
	color: solid red;
}
button.dropbtn {
	background: blue;
	border-radius: 10px;
    border: 1px solid #000000;
    margin: 0 5px 0 auto;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown {
	float: right;

	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #9b9def}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #7173e9;
}
